.clgSalePageWrapper{
    position: relative;
}

.clgAppSaleFormMiddleSection{
    padding: 11px 57px 101px 53px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.concessionSelection{
    border: 2px solid #3425FF;
}
.clgAppSaleButtonsWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.clgAppSaleButtons{
    position: fixed;
    bottom: 0px;
    /* left: calc; */
    /* right: 10px; */
    margin: 0px auto;
    width: 80%;
    height: 82px;
    z-index:10;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background:linear-gradient(to bottom, #FFFFFFB2,#FFFFFF) ;
}