.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 56px;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  border-bottom: 1px solid #e5e9eb;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 20px;
}

