.clgAppSalePersonalInforWrapper{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.clgAppSalePersonalInfoTop{
    display: flex;
    align-items: center;
    gap: 7px;
}

.clgAppSalePersonalInfoHeading{
    font-size: 12px;
    font-weight: 400;
    color:#000000;
}

.clgAppSalePersonalInfoSeperationLine{
    height: 1px;
    background: linear-gradient(90deg, #B6B6B6 0%, rgba(255, 255, 255, 0) 100%);
    width: 40%;
}

.clgAppSalePersonalInfoBottom{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.clgAppSalePersonalNameAndUploadPic{
    display: flex;
    justify-content: space-between;
    gap: 33px;
}

.clgAppSaleTopLeftFields{
    display: flex;
    flex-direction: column;
    width: 64%;
    /* justify-content:space-between; */
    gap: 10px;
}

.clgAppSalerow{
    display: flex;
    gap: 60px;
}

.clgAppSaleFieldCell{
    width: 335px;
}

.clgAppSaleUploadPicture{
    width: 34%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clgSalePersonalDetailsBottom{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
