.clgSalePageWrapper{
    position: relative;
}

.clgAppSaleFormMiddleSection{
    padding: 11px 57px 101px 53px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.concessionSelection{
    border: 2px solid #3425FF;
}

.clgAppSaleButtons{
    position: fixed;
    bottom: 0px;
    left: calc(16.5vw + 10px);
    right: 10px;
    height: 82px;
    z-index:10;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background:linear-gradient(to bottom, #FFFFFFB2,#FFFFFF) ;
}