.whole_container {
  position: relative;
  display: flex;
  overflow-x: hidden;
}

.header {
  position: fixed;
  height: 56px;
  width: 100%;
  background-color: #84b985;
  z-index: 1000;
}

aside {
  position: fixed;
  width: 15vw;
  border-right: 1px solid #e5e9eb;
  background: #231b80;
  z-index: 499;
  height: calc(100vh - 56px);
  top: 56px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

aside::-webkit-scrollbar {
  display: none;
}

.main_content {
  width: calc(100vw - 15vw);
  margin-top: 56px;
  margin-left: 15vw;
  background-color: #F6F8F9;
  padding: 10px;
}